#home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(65, 6, 16);
  background-image: url(../logo.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.home-nav,
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
}

/*Main Content*/
.Upcoming-events {
  text-align: center;
  padding: 10px;
  background-color: rgb(65, 6, 16);
  border-radius: 50px;
  color: lightblue;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.events {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

.event {
  width: 400px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease;
}

.tickets {
  text-align: center;
  margin-top: 10px;
}

.ticket input[type="number"] {
  .ticket input[type="submit"] {
    margin: 5px auto;
    display: block;
  }
}

.event:hover {
  transform: scale(1.02);
}

.Disclaimer {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  padding: 20px;
  border: 2px solid rgb(65, 6, 16);
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.event img {
  width: 100%;
  height: auto;
  display: block;
}

.events h2 {
  font-size: 1.5em;
  margin: 16px;
  color: lightblue;
}

.events p {
  font-size: 1em;
  margin: 0 16px 16px;
}

.Upcoming-events:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*footer*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 20px;
  background-color: rgb(65, 6, 16);
  color: white;
  text-align: center;
}

/*Header media Query*/
@media screen and (max-width: 600px) {
  #home-header {
    padding: 1rem;
    background-size: 60%;
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .home-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .home-nav a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem;
  }
}
